body {
  font-family: Arial, sans-serif;
  background-color: beige;
  width: 160px;
}

.popup-container {
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: rgb(26, 111, 133);

}
h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: rgb(249, 66, 26);

}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
